 @import "./reset.scss";

 html,
 body {
     height: 100%;
     transition: all .2s;
 }
  * {
     scroll-behavior: smooth;
 }



 .isIPhoneX {
    .page{
        padding-bottom:34px;
    }
 }