html,
body {
    background: #f5f5f5;
}

.header-bg {
    overflow: hidden;

    height: 7.5rem;

    background: url('../../images/banner_bg.png') no-repeat center/cover transparent;

    .title {
        font-size: 1.0625rem;
        font-weight: 400;

        margin-top: 2.375rem;

        text-align: center;

        color: #fff;
    }

    .calend-wrap {
        line-height: 1.875rem;

        display: flex;

        height: 1.875rem;
        margin: .75rem 5.9375rem;

        text-align: center;

        color: #fff;
        border: 1px solid #fff;
        border-radius: .25rem;

        .left {
            position: relative;

            flex: 1;

            &:after {
                position: absolute;
                top: 2px;
                right: 0;
                bottom: 2px;

                width: .0625rem;
                height: auto;

                content: '';

                background: #fff;
            }
        }

        .right {
            display: flex;

            width: 3rem;

            align-items: center;
            justify-content: center;

            .date-icon {
                display: inline-block;

                width: 1.125rem;
                height: 1.0625rem;

                background: url('../../images/date.png')no-repeat center/cover transparent;
            }
        }
    }
}

.content {
    padding-bottom: 2.6rem;

    .tab {
        display: flex;

        height: 2.625rem;

        li {
            display: flex;

            background: #fff;

            flex: 1;
        }

        .title {
            font-size: .875rem;
            line-height: 2.6rem;

            width: 5.75rem;
            margin: 0 auto;

            text-align: center;

            color: #999;
            border-bottom: 1px solid #fff;

            flex: 1;
        }

        .active {
            font-size: .9375rem;
            font-weight: bold;

            position: relative;

            color: #f70;
        }

        .active:before {
            position: absolute;
            bottom: -1px;
            left: 50%;

            width: 5.75rem;
            height: .1875rem;

            content: '';
            transform: translateX(-50%);

            background: #f70;
        }
    }

    .p-total {
        font-size: .875rem;
        line-height: 30px;

        margin: .9375rem;

        .title {
            padding: 0 .625rem 0 0;

            color: #f70;
        }

        span {
            font-weight: bold;
        }
    }

    .list-detail-grid {
        display: flex;

        margin: .9375rem 0;

        background: #fff;

        flex-wrap: wrap;

        .item:nth-child(2n-1) {
            border-right: 1px solid #f0f0f0;
        }

        .item {
            display: flex;
            overflow: hidden;

            width: calc(50% - 1px);
            height: 6.25rem;

            text-align: center;

            border-bottom: 1px solid #f0f0f0;

            flex-flow: column;

            .up {
                font-size: .75rem;

                display: flex;

                color: #ccc;

                align-items: flex-end;
                justify-content: center;
                flex: 1;

                .text {
                    color: #f00;
                }
            }

            .middle {
                font-size: 1.125rem;
                font-weight: bold;

                display: flex;

                color: #00bb4e;

                flex: 1;
                align-items: center;
                justify-content: center;
            }

            .down {
                font-size: .875rem;
                font-weight: bold;
                line-height: 1.0rem;

                display: -webkit-box;
                overflow: hidden;

                color: #333;

                flex: 1;
                align-items: flex-start;
                justify-content: center;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 2;
            }
        }

        .no-bottom-line {
            border-bottom-width: 0;
        }
    }
}